<div class="tp_stage tp_home">

    <div class="tp_header" role="banner">
      {{ page.header }}
    </div>

    <div class="tp_template tp_template--masthead">
        <div class="tp_template__section">
            <div class="tp_masthead tp_masthead--home">
                <img class="tp_masthead__image" src="{{ file_url(node.field_page__masthead_bg_image.entity.fileuri) }}" alt="{{ node.field_page__masthead_bg_image.alt }}">
                <div class="tp_masthead__content">
                    <h5 class="tp_masthead__subhead">{{ node.field_home__masthead_sm_headline.value }}</h5>
                    <h3 class="tp_masthead__tripple-headline">{{ node.field_home__masthead_headline.value }}</h3>
                </div>
                <p class="tp_masthead__welcome-message">{{ node.field_home__welcome_message.value }}</p>

            </div>
        </div>
    </div>

    <div class="tp_template tp_main-content" role="main">
        <div class="tp_template__section tp_home__transformation">


            <div class="tp_offset-section">
                <div class="tp_offset tp_offset--10--digital-transformation"> <!-- f container -->
                    <div class="tp_offset__section"><!-- row -->
                        <div class="tp_offset__surface ">
                            <div class="tp_offset__surface-section">
                                <div class="col-md-9 tp_card tp_card--reverse tp_card--rule tp_card--small tp_card--button">
                                    <h3 class="tp_card__supersub">Digital</h3>
                                    <h1 class="tp_card__superheading">Transformation</h1>
                                    <h3 class="tp_card__heading">Powered by the Microsoft Cloud</h3>
                                    <hr class="tp_card__rule" />
                                    <p class="tp_card__copy">Digital Transformation is something we practice, not just a buzz word, but an actionable journey that leads to higher customer value, increased workforce productivity, and more rapid innovation. Unleash the power of the Cloud!</p>
                                    <a class="tp_card__button" href="#">
                                        <span class="fa fa-angle-right"></span>
                                    </a>
                                </div>
                            </div>
                        </div> <!-- eo surface -->
                    </div> <!-- eo offset section -->
                </div> <!-- eo offset -->
            </div>

        </div>

        <div class="tp_template__section tp_home__quote">
            <div class="tp_surface">
                <div class="tp_surface__section">
                    <div class="col-sm-12">
                        <div class="tp_blockquote tp_blockquote--reverse">
                            <p class="tp_blockquote__quote">The all-encompassing strategy that Transformers pursue is like a racecar, while the strategy that Bolt-Ons pursue — tacking on digital elements to existing strategies — is like tacking on a spoiler to a minivan.</p>
                            <p class="tp_blockquote__byline">“Accelerating Digital Transformation with Technology”, Forrester, 2017</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tp_template__section tp_home__bottom-content">
            <div class="tp_offset-section">
                <div class="tp_offset tp_offset--7--seafoam-bright"> <!-- f container -->
                    <div class="tp_offset__section"><!-- row -->
                        <div class="tp_offset__surface ">

                            <div class="tp_offset__surface-section">
                                <div class="col-md-4 col-md-offset-1">
                                    <div class="tp_card tp_card--rule tp_card--small tp_card--button">
                                        <h3 class="tp_card__heading">Our work, your future.</h3>
                                        <hr class="tp_card__rule" />
                                        <p class="tp_card__copy">Across many different industries and a wide range of brands; strategy, design and technology expertise come together to create meaningful results and lasting ROI for our clients. Find out more.</p>
                                        <a class="tp_card__button" href="#">
                                            <span class="fal fa-chevron-right"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="tp_offset__surface-section">
                                <div class="col-md-4 col-md-offset-1">
                                    <div class="tp_card tp_card--rule tp_card--small tp_card--button">
                                        <h3 class="tp_card__heading">Solutions for today’s challenges.</h3>
                                        <hr class="tp_card__rule" />
                                        <p class="tp_card__copy">We offer a wide, yet targeted set of solutions that combine deep Microsoft (gold partner?) expertise along with digital strategy, technical knowledge, and experience design savvy to ensure digital transformation journeys start down the right path and end with sustainable adoption plus lasting ROI. </p>
                                        <a class="tp_card__button" href="#">
                                            <span class="fal fa-chevron-right"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div> <!-- eo surface -->
                    </div> <!-- eo offset section -->
                </div> <!-- eo offset -->

                <div class="tp_offset tp_offset--6--blue-dark--reverse tp_offset--vertical--lg "> <!-- f container -->
                    <div class="tp_offset__section"><!-- row -->
                        <div class="tp_offset__surface">

                            <div class="tp_offset__surface-section">
                                <div class="col-md-4 col-md-offset-7">
                                    <div class="tp_card tp_card--rule tp_card--small tp_card--button tp_card--reverse">
                                        <h3 class="tp_card__heading">It’s about what we can do for you.</h3>
                                        <hr class="tp_card__rule" />
                                        <p class="tp_card__copy">See why we have a passion for what we do and how our expertise and unique skills can make you and your organization not only look good but foster a partnership for lasting success.</p>
                                        <a class="tp_card__button" href="#">
                                            <span class="fal fa-chevron-right"></span>
                                        </a>
                                    </div>
                                </div>
                            </div> <!-- eo surface section -->

                            <div class="tp_offset__surface-section">
                                <div class="col-md-4 col-md-offset-7">
                                    <div class="tp_card tp_card--rule tp_card--small tp_card--button tp_card--reverse">
                                        <h3 class="tp_card__heading">Culture of Doers.</h3>
                                        <hr class="tp_card__rule" />
                                        <p class="tp_card__copy">We are a group of unique, yet likeminded individuals who roll-up our sleeves and get things done. Find out what makes us tick and how you can join our team.</p>
                                        <a class="tp_card__button" href="#">
                                            <span class="fal fa-chevron-right"></span>
                                        </a>
                                    </div>
                                </div>
                            </div> <!-- eo surface section -->

                        </div> <!-- eo surface -->
                    </div> <!-- eo row section -->
                </div> <!-- eo row -->
            </div>
        </div>

        <div class="tp_template__section tp_template__section--footer-banner">
            {% if page.footer_banner %}
              <div class="tp_footer-banner" role="contentinfo">
                {{ page.footer_banner }}
              </div>
            {% endif %}
        </div>

        <div class="tp_template__section tp_template__section--footer">

            {% if page.footer %}
              <div class="tp_footer" role="contentinfo">
                {{ page.footer }}
              </div>
            {% endif %}
        </div>
    </div>
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}
</div>
